/*index样式*/
*{
    margin:0;
    padding:0;
    list-style: none;
}
body,html{
    font-family: 'Segoe UI', MicrosoftYaHei, 微软雅黑, SimSun, 宋体, sans-serif;
}
h5,h6,h3{
    margin:0;
}
/*--清除浮动--*/
.clearBoth:after{
    display:bloak;
    content:"";
    clear:both;
}
/*--轮播图样式---*/
#demo img{
    width:100%;
    margin-top:3px;
}
/*------------首页主体部分-------------*/
/*第一个*/
.index-one{
    width:1200px;
    margin:57px auto;
    text-align:center;
    position: relative;
}
#index-one a{
    display:block;
    position:absolute;
}
#index-1{
    width:590px;
    height:800px;
    left:0;
    top:0;
}
#index-2{
    width:591px;
    height:590px;
    left:609px;
    top:0;
}
#index-3{
    width:587px;
    height:470px;
    right:0;
    top:609px;
}
div .index-three{
    width:1520px;
    height:500px;
    position:relative;
    left:-190px;
}
div .autumn_sm{
    width:1180px;
    height:500px;
    margin:0 auto;
    overflow: hidden;
    position: relative;
}
.f1{
    float:left;
    margin-right:20px;
}
/*图片下的文字*/
.f1 p{
    font-size:18px;
    color:#636967;
    text-align: center;
    margin-top: 20px;
}
a.f1{
    text-decoration: none;
}
.seven>div{
    margin-top:57px;
}
#father>div:not(first-child){
	width:1200px;
	margin:57px auto 0;
}
/*最后一张图*/
div.last{
    text-align:center;
    width:1200px;
    height:275px;
    position:relative;
}
div.last a{
    display:inline-block;
    width:275px;
    height:275px;
    position:absolute;
    margin-right:15px;
    top:0;
}
div.last a.one{
    left:0px;
}
div.last a.two{
    left:310px;
}
div.last a.three{
    left:616px;
}
div.last a.fore{
    left:924px;
}

/*--轮播小图的按钮--*/
.btnDiv{
    position:absolute;
    width:30px;
    height:115px;
    z-index:10;
    top:50%;
    margin-top:-58px;
    opacity: .9;
}
.btnDiv:hover{
    opacity: 1;
}
.btnDiv.btn_left{    
    background:url("../img/bg.png") no-repeat -280px -80px;
    left:5px;
    border-radius:5%;
}
.btnDiv.btn_right{
    background:url("../img/bg.png") no-repeat -321px -80px;
    right:5px;
    border-radius:5%;
}






